# Ambiente virtual
.venv/
venv/

# Arquivos temporários do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs e arquivos temporários
*.log
*.tmp

# Arquivos do sistema
.DS_Store
Thumbs.db

# Configurações locais de IDEs
.vscode/
.idea/